<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-text"/>-->
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <!--<log type="coverage-html" target="./report" lowUpperBound="35" highLowerBound="70"/>-->
    </logging>
    <testsuites>
        <testsuite name="endpoint">
            <file>./tests/unit/EndpointTest.php</file>
        </testsuite>
        <testsuite name="unit">
            <directory suffix=".php">./tests/unit</directory>
            <exclude>./tests/unit/EndpointTest.php</exclude>
        </testsuite>
        <testsuite name="functional">
            <directory suffix=".php">./tests/functional</directory>
        </testsuite>
    </testsuites>
</phpunit>
